:root {
  --first-text: #212121;
  --secont-text: #757575;
  --accent: #2196f3;
}

body {
  color: var(--first-text);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header .container,
.nav-list,
.feedback-list {
  display: flex;
  align-items: center;
}

.feedback-list {
  margin-left: auto;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent);
}

.header__logo {
  margin-right: 93px;
}

.header__logo--addon {
  color: #000000;
}

.nav-list__link,
.feedback-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list__link {
  color: inherit;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent);
}

.nav-list__link--accent {
  color: var(--accent);
}
.nav-list__link--accent::after {
  content: "";
  position: absolute;
  left: 0;
  top: 47px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent);
}

.nav-list__item {
  position: relative;
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.feedback-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secont-text);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-list__link:hover, .feedback-list__link:focus {
  color: var(--accent);
}
.feedback-list__link:hover .mail-icon, .feedback-list__link:focus .mail-icon, .feedback-list__link:hover .phone-icon, .feedback-list__link:focus .phone-icon {
  fill: var(--accent);
}

.feedback-list__item {
  display: flex;
  align-items: center;
}
.feedback-list__item:not(:last-child) {
  margin-right: 50px;
}

.mail-icon,
.phone-icon {
  margin-right: 10px;
  fill: var(--secont-text);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .main-section {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .main-section {
    width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    max-width: 1600px;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg.jpg);
  }
}

.main-section__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .main-section__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.main-section__btn {
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section__btn:hover, .main-section__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 0;
    flex-wrap: nowrap;
  }
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__title {
    text-align: left;
    max-width: 270px;
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secont-text);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feature__text {
    text-align: left;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__text {
    text-align: left;
    max-width: 270px;
  }
}

.feature__icon {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .feature__icon {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__icon {
    max-width: 270px;
  }
}

.feature__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
    margin-bottom: 0;
  }
}

.about__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.about {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about-list {
  display: flex;
  margin-left: -30px;
}

.about-list__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}

.about-container {
  position: relative;
}

.about-container__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.worker-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .worker-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .worker-list {
    display: flex;
    margin-left: -30px;
  }
}

.worker-list__item {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .worker-list__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .worker-list__item {
    flex-basis: calc(25% - 30px);
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.worker-list__img {
  width: 100%;
}

.worker__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.worker {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.worker__name {
  font-weight: 500;
  margin-bottom: 10px;
}

.worker__job {
  color: var(--secont-text);
  margin-bottom: 16px;
}

.our-team {
  background-color: #f5f4fa;
}

.worker-soc,
.footer-soc-list {
  display: flex;
  justify-content: center;
}

.worker-soc__item + .worker-soc__item,
.footer-soc-list__item + .footer-soc-list__item {
  margin-left: 10px;
}

.worker-soc__link {
  background-color: #ffffff;
}
.worker-soc__link:hover, .worker-soc__link:focus {
  background-color: var(--accent);
}

.footer-soc-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.worker-soc__link,
.footer-soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-soc__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.worker-soc__link:hover .worker-soc__icon, .worker-soc__link:focus .worker-soc__icon {
  fill: #ffffff;
}

.our-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text);
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
  justify-content: space-between;
}

.our-clients-list__item {
  width: 170px;
  height: 92px;
}
.our-clients-list__item + .our-clients-list__item {
  margin-left: 30px;
}

.our-clients-list__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-list__link:hover, .our-clients-list__link:focus {
  border-color: var(--accent);
  cursor: pointer;
}

.our-clients-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-list__link:focus .our-clients-list__icon, .our-clients-list__item:hover .our-clients-list__icon {
  fill: var(--accent);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  color: #ffffff;
}

.address-list__link {
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--accent);
}

.address {
  margin-top: 20px;
}

.address-list__item {
  margin-bottom: 9px;
}
.address-list__item:last-child {
  margin-bottom: 0;
}

.address-list__link--white {
  color: #ffffff;
}

.address-list__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

.footer-soc {
  max-width: 206px;
}

.footer-soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-right: 70px;
  flex-grow: 1;
}

.footer-soc-list__icon {
  fill: #ffffff;
}

.footer-soc-list__link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-list__link:hover, .footer-soc-list__link:focus {
  background-color: var(--accent);
}

.footer-email {
  margin-left: 93px;
}

.footer-email__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form__item {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form__btn {
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 12px;
}
.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.footer-form__btn:hover,
.footer-form__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.footer-form__icon {
  margin-left: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: #ffffff;
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__btn-active {
  color: #ffffff;
  background-color: var(--accent);
}

.project__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--first-text);
}

.project__kind {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secont-text);
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 370px;
}

.project__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__wrap {
  position: relative;
  overflow: hidden;
}

.project__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
}
.project__item:hover .project__text, .project__link:focus .project__text {
  transform: translateY(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-btn__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-btn__icon, .modal-btn:focus .modal-btn__icon {
  fill: var(--accent);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--first-text);
}

.modal-form__text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secont-text);
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: none;
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent);
}

.modal-form__input:focus,
.modal-form__textarea:focus {
  border-color: var(--accent);
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
  outline: none;
}
.modal-form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__btn {
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal-form__wrap {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form__comment {
  margin-bottom: 20px;
}

.form-privacy-check__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.form-privacy__link {
  text-decoration-line: underline;
  color: var(--accent);
  margin-left: 4px;
}

.form-privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-privacy-check {
  position: relative;
  margin-right: 7px;
}

.form-privacy__icon--done {
  position: absolute;
  left: 0;
}

.form-privacy__icon--done {
  fill: transparent;
}

.form-privacy__check:checked + .form-privacy-check .form-privacy__icon {
  fill: var(--accent);
  background-color: var(--accent);
}

.form-privacy__check:checked + .form-privacy-check .form-privacy__icon--done {
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */