@import "./utils/basics";
@import "./utils/reset";
@import "./utils/backdrop";
// //////////////////////////
@import "./componets/header";
@import "./componets/hero";
@import "./componets/feature";
@import "./componets/about";
@import "./componets/worker";
@import "./componets/clients";
@import "./componets/footer";
@import "./componets/filter";
@import "./componets/project.scss";
@import "./componets/modal";

