.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item:not(:first-child) {
    margin-left: 8px;
}

.filter__btn {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text);
    background-color: #f5f4fa;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            color: #ffffff;
            background-color: var(--accent);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.filter__btn-active {
    color: #ffffff;
    background-color: var(--accent);
}