.header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ececec;
    @include desktop {
        padding-top: 24px;
            padding-bottom: 25px;
    }
}

.header .container,
.nav-list,
.feedback-list {
    display: flex;
    align-items: center;
}

.feedback-list {
    display: none;
    margin-left: auto;
    @include tablet {
            display: flex;
            flex-direction: column;
            align-items: start;

            
            
        }
    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}



.nav {
    display: none;
    @include tablet {
            display: flex;
        }
    @include desktop {
    display: flex;
}
}



.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--accent);
    @include desktop {
        font-style: 28px;
        line-height: 1.19;
    }
}

.header__logo {
    margin-right: 93px;
}

.header__logo--addon {
    color: #000000;
}

.nav-list__link,
.feedback-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-list__link {
    color: inherit;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            color: var(--accent);
        }
}

.nav-list__link--accent {
    color: var(--accent);
    &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 47px;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent);
        }
        @include tablet {
            &::after {
                top: 44px;
            }
        }
        @include desktop {
            &::after {
                top: 47px;
            }
        }
}

.nav-list__item {
    position: relative;
    &:not(:last-child) {
            margin-right: 50px;
        }
        
}



.feedback-list__link {
        display: flex;
            justify-content: center;
            align-items: center;
    color: var(--secont-text);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            color: var(--accent);
        }
                &:hover .mail-icon,
                &:focus .mail-icon,
                &:hover .phone-icon,
                &:focus .phone-icon {
                    fill: var(--accent);
                }
}



.feedback-list__item {
    display: flex;
    align-items: center;
                @include tablet {
                    margin-left: 0;
                    &+& {
                            margin-top: 10px;
                        }
                }
                @include desktop {
                    &:last-child {
                            margin-left: 50px;
                        }
                                                &+& {
                                                    margin-top: 0;
                                                }
                }
}

.mail-icon,
.phone-icon {
    margin-right: 10px;
    fill: var(--secont-text);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-container {
        width: 100%;
        padding-left: 40px;
        padding-top: 48px;
        padding-right: 40px;
        padding-bottom: 48px;
        margin: 0 auto;
        display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            overflow: auto;
    
        @include mobile {
            width: 480px;
        }
    
        @include tablet {
            width: 768px;
        }
    
        @include desktop {
            width: 1200px;
        }
}

.mob-menu {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    @include tablet {
        display: none;
    }
}

.mob-menu-open-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;
    position: absolute;
    right: 10px;
    @include tablet {
            display: none;
        }
}

.header-container {
    position: relative;
}

.mob-menu-open {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .mob-menu-open-btn:hover &,
    .mob-menu-open-btn:focus & {
        fill: var(--accent);
    }
}

.mob-menu-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        border: transparent;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

}

.mob-menu-close {
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        .mob-menu-close-btn:focus &,
            .mob-menu-close-btn:hover & {
                fill: var(--accent);
            }
}

.mob-list__link {
        color: #212121;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.02em;  
        transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:focus ,
                .mob-list__item:hover & {
                    color: var(--accent);
                }
            }


.mob-list__item {
    &+& {
            margin-top: 32px;
        }
}

.mob-connect__link-tel {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: #2196F3;
        @include mobile {
            font-size: 34px;
        }
}

.mob-connect__link-email {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #757575;

        @include mobile {
            font-size: 24px;
        }
}

.mob-soc-list__link {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2196F3;
        &::after {
            content: '';
            border: 1px solid rgba(33, 33, 33, 0.2);
                transform: rotate(90deg);
                margin: 0 10px;
        }
        @include mobile {
            font-size: 18px;
        }

}

.mob-soc-list {
    display: flex;
}

.mob-connect__item {
    margin-bottom: 32px;
    &:last-child {
        margin-bottom: 62px;
    }
}