.main-section {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  @include mobile {
    width: 480px;
  }
     @include tablet {
       width: 768px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../image/hero-bg-tab.jpg);
     }
    @include desktop {
      // min-width: 1200px;
      max-width: 1600px;
      width: 100%;
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/hero-bg.jpg);
    }
}

.main-section__title {
  font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  // max-width: 696px;
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    }
}

.main-section__btn {
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
    &:focus {
      background-color: #188ce8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      cursor: pointer;
    }
}


