.project__content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}

.project__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--first-text);
}

.project__name--small {
    @include tablet {
    font-size: 17px;
    }
}

.project__kind {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secont-text);
}

.project {
@include mobile {
    // width: 450px;
}


    @include tablet {
        display: flex;
            flex-wrap: wrap;
            margin-left: -30px;
    }
    
}

.project__item {
    width: 100%;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    @include mobile {
        width: 450px;
    }

    @include tablet {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
    }

    @include desktop {
        flex-basis: calc(100% / 3 - 30px);
        margin-left: 30px;
        max-width: 370px;
    }
}

.project__link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}



.project__wrap {
    position: relative;
    overflow: hidden;
}

.project__text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms;
    .project__item:hover &,
        .project__link:focus & {
            transform: translateY(0);
        }
}

.project__img {
    width: 100%;
    @include mobile {
        width: 450px;
    }
    @include tablet {
        width: 354px;
    }
    @include desktop {
        width: 370px;
    }
}

